* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #353836;
  color: white;
}

/*
  - Nav Bar
*/

header a {
  text-decoration: none;
}

header {
  padding: 0px 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  align-items: center;
  display: flex;
}

#brand a {
  color: #00ffff;
  font-size: 20px;
}

nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav li {
  padding: 5px;
  margin-left: 10px;
}

nav li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

nav a {
  color: #00ffff;
  font-size: 20px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #00ffff;
  margin: 6px 0;
  transition: 0.4s;
}

#hamburger-icon a {
  color: #00ffff;
  font-size: 20px;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #353836;
  font-size: 23px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  list-style-type: none;
}

.mobile-menu li {
  width: 40px; 
  text-align: left;
  margin: 2px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}



/*
  - Main
*/

main {
  padding: 5px 10px;
  font-size: 18px;
}

.active {
  color: #00ffff !important;
  display: flex !important;
  /* The seen if active part */
}



/*
  - Filter Buttons
*/

#filter-list li {
  list-style-type: none;
  float: left; 
  /* The horizontal + wrapping part */
  margin-right: 5px;
}

#filter-list li button {
  cursor: pointer;
  border: 1.5px solid #00ffff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
  margin: 0px 0px;
  font-weight: bold;
  background-color: black;
  color: white;
}



/*
  - Portfolio List
*/

#Portfolio-list {
  clear: left;
  /* Move below the floating buttons */
}

#Portfolio-list li {
  float: left;
  
  cursor: pointer;
  border: none;
  padding: 50px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
  background-color: black;
  
}


.PItem {
  display: none;
  /* Not allowed to be seen defacto */
}



/*
  - Bottom Text
*/

.Text {
  clear: both;
}
